<nav class="navbar navbar-expand-lg navbar-light justify-content-center" >
  <a class="navbar-brand" href="#">CodeCraft</a>
  <div class="collapse navbar-collapse" >
    <ul class="navbar-nav">
      <li class="nav-item">
        <a class="nav-link" routerLink="#">Home</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="#">Work</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="#">About</a>
      </li>
    </ul>
  </div>
  <div class="navbar-nav social-icons">
    <a
      class="nav-link mx-2"
      target="_blank"
      href="https://github.com/taboubi-oussema/"
      ><i class="fab fa-github"></i
    ></a>
    <a
      class="nav-link mx-2"
      target="_blank"
      href="https://www.linkedin.com/in/ousema-taboubi-0181b733b/"
      ><i class="fab fa-linkedin"></i
    ></a>
  </div>
</nav>


